#menu_screen {
  margin-top: 2;
  layout: grid;
  grid-size: 3;
  grid-gutter: 1 1;
  align: center middle;
}

#menu_screen Button {
  width: 80%;
  height: 80%;
  border: outer $border;
}

Dialog.invisible {
    visibility: hidden;
}

ConfirmationDialog.invisible {
    visibility: hidden;
}
